@charset "utf-8";

/**
 *
 * ----------------------------------------------------------
 *
 * Template : AmarSolution - Business & Consulting HTML Template
 * Author : AkaarIt
 * Author URI : https://akaarit.com/
 *
 * ----------------------------------------------------------
 *
 **/

 /* Layout: Max 1600px  */
@media only screen and (max-width: 1600px) {
    .ams-admin{
        margin-right: 0;
    }

    .single-info-box{
        padding: 24px 20px;
    }

    .info-box-content h1{
        font-size: 36px;
    }
}


/* Layout: Max 1400px  */
@media only screen and (max-width: 1400px) {
    
    #supplierList{
        display: block;
        overflow-x: scroll;
        overflow-y:hidden;
        white-space: nowrap;
    }
}

/* Layout: Max Width 1300px */
@media only screen and (max-width:1300px){
    #supplierList-2{
        display: block;
        overflow-x: scroll;
        overflow-y:hidden;
        white-space: nowrap;
    }
}

/* Layout: Max 1200px  */
@media only screen and (max-width: 1200px) {

    .ams-sidebar{
        position: fixed;
        left: -220px;
        top: 64px;
        z-index: 1;
        transition: .3s;
    }

    .ams-sidebar.active{
        width: 220px;
        left: 0;
    }

    .ams-sidebar .sidebar-menu{
        margin-top: -1px;
    }

    .ams-main-content,
    .ams-sidebar.active + .ams-main-content{
        width: 100%;
        left: 0;
    }

    .ams-sidebar.active .sidebar-menu .nav-expand i{
        visibility: visible;
        opacity: 1;
    }

    .ams-sidebar.active .sidebar-menu .sub-menu,
    .ams-sidebar.active .sidebar-menu .sub-menu ul{
        position: relative;
        left: 0;
    }

    .ams-nav-wpr.fixed{
        position: fixed;
        width: 100%;
        height: 65px;
        background-color: #fff;
        z-index: 1;
    }

    .ams-nav-wpr.fixed + .ams-main-content-wpr{
        margin-top: 65px;
    }
}

/* Layout: Max Width 1099px */
@media only screen and (max-width:1099px){

    .nav-item:last-child i{
        display: block;
    }

    .main-nav{
        position: absolute;
        width: 250px;
        right: 0;
        top: 120px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .main-nav li{
        display: block;
    }

    .main-nav li a{
        text-align: center;
        border: 0;
    }

    .main-nav.move{
        top: 65px;
        visibility: visible;
        opacity: 1;
    }
}

/* Layout: Max Width 1024px */
@media only screen and (max-width:1024px){
    .ams-customer-add-form .input-group{
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
}

/* Layout: Max Width 991px */
@media only screen and (max-width:991px){
    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: repeat(2,1fr);
    }

    #supplierList{
        display: block;
        overflow: hidden;
        white-space: nowrap;
    }

    #supplierList thead{
        display: none;
    }

    #supplierList ,
    #supplierList tbody,
    #supplierList tr,
    #supplierList td{
        display: block;
        width: 100%;
    }

    #supplierList tr{
        margin-bottom: 32px;
    }

    #supplierList tr td{
        position: relative;
        min-height: 40px;
        text-align: right;
        border-bottom: 1px solid #dddddd;
    }

    #supplierList tr td:last-child{
        border-bottom: none;
    }

    #supplierList td::before{
        position: absolute;
        content: attr(data-label);
        left: 0;
        width: 50%;
        padding-left: 24px;
        font-weight: 700;
        text-align: left;
    }

    .action-dropdown .dropdown-content{
        left: auto;
        right: 0;
    }

    .input-double{
        padding-left: 0;
        padding-right: 0;
    }
}

/* Layout: Max Width 767px */
@media only screen and (max-width:767px){

    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: 1fr
    }

    .panel-toolbar-menu{
        display: none;
    }
}

/* Layout: Max Width 576px */
@media only screen and (max-width:576px){
    .nav-right > *{
        display: none;
    }

    .nav-right .ams-admin,
    .nav-right span:last-child{
        display: flex !important;
    }

    .ams-customer-add-form{
        padding: 40px 0;
    }
}

/* Layout: Max Width 480px */
@media only screen and (max-width:480px){
    .add-btn{
        padding: 7px 14px;
    }

    .dataTable-info-wpr,
    .panel-toolbar{
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .stack-chart{
        height: 450px;
    }

    .ams-input{
        grid-template-columns: 1fr;
        text-align: left;
    }

    .ams-input .add-input{
        top: 24px;
    }
}

/* Layout: Max Width 380px */
@media only screen and (max-width:380px){
    .admin-details{
        display: none;
    }

    .product-btns a{
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 5px;
    }

    .panel-heading{
        flex-direction: column;
        align-items: flex-start;
        gap: 12px;
    }

    .donat-chart{
        height: 450px;
    }
}

/* Layout: Max Width 320px */
@media only screen and (max-width:320px){
    
}

