@charset "utf-8";

/**
 *
 * ----------------------------------------------------------
 *
 * Template : AmarSolution - Business & Consulting HTML Template
 * Author : AkaarIt
 * Author URI : https://akaarit.com/
 *
 * ----------------------------------------------------------
 *
 **/

/* Layout: Max 1400px  */
@media only screen and (max-width: 1400px) {

    .ams-sidebar{
        position: fixed;
        left: -220px;
        z-index: 1;
    }

    .ams-sidebar.active{
        width: 220px;
        left: 0;
    }

    .ams-admin{
        margin-right: 0;
    }

    .ams-main-content{
        width: 100%;
        left: 0;
    }
}

/* Layout: Max 1099px */
@media only screen and (max-width:1099px){

    .nav-item:last-child i{
        display: block;
    }

    .main-nav{
        position: absolute;
        width: 250px;
        right: 0;
        top: 120px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .main-nav li{
        display: block;
    }

    .main-nav li a{
        text-align: center;
        border: 0;
    }

    .main-nav.move{
        top: 80px;
        visibility: visible;
        opacity: 1;
    }
}

/* Layout: Max Width 1024px */
@media only screen and (max-width:1024px){
    .ams-customer-add-form .input-group{
        grid-template-columns: 1fr;
        margin-top: 50px;
    }
}

/* Layout: Max Width 991px */
@media only screen and (max-width:991px){
    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: repeat(2,1fr);
    }
}

/* Layout: Max Width 767px */
@media only screen and (max-width:767px){

    .ams-customer-add-form .input-group.input-verticle{
        grid-template-columns: 1fr
    }
}

/* Layout: Max Width 576px */
@media only screen and (max-width:576px){
    .nav-right > *{
        display: none;
    }

    .nav-right .ams-admin,
    .nav-right span:last-child{
        display: flex !important;
    }

    .ams-customer-add-form{
        padding: 40px 0;
    }
}

/* Layout: Max Width 480px */
@media only screen and (max-width:480px){
    .add-btn{
        padding: 7px 14px;
    }
}

/* Layout: Max Width 380px */
@media only screen and (max-width:380px){
    .admin-details{
        display: none;
    }

    .product-btns a{
        font-size: 15px;
        padding: 5px 10px;
        margin-top: 5px;
    }
}

/* Layout: Max Width 320px */
@media only screen and (max-width:320px){
    
}

