@charset "utf-8";

/**
 *
 * ----------------------------------------------------------
 *
 * Template : AmarSolution - Business & Consulting HTML Template
 * Author : AkaarIt
 * Author URI : https://akaarit.com/
 *
 * ----------------------------------------------------------
 *
 **/

/* Layout: Max 1400px  */
@media only screen and (max-width: 1400px) {

    .ams-sidebar{
        position: fixed;
        left: -220px;
        z-index: 1;
    }

    .ams-sidebar.active{
        width: 220px;
        left: 0;
    }

    .ams-admin{
        margin-right: 0;
    }

    .ams-main-content{
        width: 100%;
        left: 0;
    }
}

/* Layout: Max 1099px */
@media only screen and (max-width:1099px){

    .nav-item:last-child i{
        display: block;
    }

    .main-nav{
        position: absolute;
        width: 250px;
        right: 0;
        top: 120px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0px 0px 20px rgb(0 0 0 / 8%);
        padding: 14px 0;
        visibility: hidden;
        opacity: 0;
        transition: all .3s;
    }

    .main-nav li{
        display: block;
    }

    .main-nav li a{
        text-align: center;
        border: 0;
    }

    .main-nav.move{
        top: 80px;
        visibility: visible;
        opacity: 1;
    }
}

/* Layout: Max Width 576px */
@media only screen and (max-width:576px){
    .nav-right > *{
        display: none;
    }

    .nav-right .ams-admin{
        display: flex !important;
    }
}

/* Layout: Max Width 380px */
@media only screen and (max-width:380px){
    .admin-details{
        display: none;
    }
}

