@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
  position: relative;
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

h1,h2,h3,h4,h5,h6,p{
  margin-bottom: 0;
}

ul{
  margin: 0;
  padding: 0;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

i{
  vertical-align: middle;
}

.btn{
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  color: #fff;
  padding: 12px 42px;
  border-radius: 5px;
}

.bg-blue{
  background: linear-gradient(20.42deg, #286CD1 12.24%, #002698 82.82%);

}

.bg-red{
  background: linear-gradient(238.82deg, #ED4C5C 40.31%, #C52231 86.31%);
}

.bg-orange{
  background: linear-gradient(145.77deg, #F48020 22.65%, #F7913D 97.12%);
}

.bg-violate{
  background: linear-gradient(175.77deg, #341EC0 6.63%, #4D3CBD 96.55%);
}

.bg-aquamarine{
  background: linear-gradient(358.28deg, #4AC49F 103.79%, #000000 103.8%);
}

.bg-slateblue{
  background: #616FC7;
}

.bg-lightorange{
  background: #FF954E;
}

.bg-lightblack{
  background: #464646;
}

.bg-gradient-violate{
  background: linear-gradient(89.49deg, #582CD8 10.69%, #3263F3 97.52%);
}

.bg-gradient-orange{
  background: linear-gradient(89.49deg, #FB601F 10.69%, #F8A22E 97.52%);
}

.bg-gradient-green{
  background: linear-gradient(89.49deg, #2CB780 10.69%, #7AC54E 97.52%);
}

.bg-gradient-red{
  background: linear-gradient(89.49deg, #F21D5F 10.69%, #FC5817 97.52%);
}

.bg-gradient-blue{
  background: linear-gradient(89.49deg, #23A9C8 10.69%, #3567B6 97.52%);
}

.bg-gradient-limegreen{
  background: linear-gradient(89.49deg, #49B94D 10.69%, #AFD15D 97.52%);
}

.bg-gradient-orange-rev{
  background: linear-gradient(89.49deg, #FFB334 10.69%, #FF702A 97.52%);
}

.bg-gradient-magenta{
  background: linear-gradient(89.49deg, #EB3B4A 10.69%, #B92A95 97.52%);
}

.mt-20{
  margin-top: 20px;
}

.mt-40{
  margin-top: 40px;
}

.mb-40{
  margin-bottom: 40px;
}

.mb-70{
  margin-bottom: 70px;
}

input{
  font-size: 16px;
  color: #243E8B7A;
  padding: 16px 32px;
  border-radius: 5px;
  border: none;
  outline: none;
}

input::placeholder{
  font-size: 16px;
  color: #243E8B7A;
}

/*----- Login -----*/

.ams-login{
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr;
}

.login-bg{
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.login-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  padding: 0 100px;
  background-image: url("../images/bg/log-content-bg.jpg");
}

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 100px;
  background-image: url("../images/bg/log-form-bg.jpg");
}

.login-content h1{
  font-size: 52px;
  font-weight: 300;
  text-transform: uppercase;
}

.login-content p,
.login-form p{
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #fff;
}

.login-form fieldset input{
  width: 100%;
  display: block;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 28px;
}

.remember-pass{
  display: flex;
  justify-content: space-between;
}

.remember-pass label,
.remember-pass a{
  font-size: 16px;
  color: #fff;
}

.login-btn{
  width: 100%;
  font-weight: 700;
  color: #1C1A1A;
  background-color: #FFC700;
  margin-top: 40px;
  padding: 18px;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

}

/*----- Sidebar -----*/

.ams-sidebar{
  position: absolute;
  top: 0;
  left: 0;
  width: 220px;
  height: 100%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  transition: .3s;
}

/* .ams-sidebar.active{
  width: 60px;
} */

.ams-sidebar .brand-logo{
  padding: 32px 18px;
}

.ams-sidebar li a{
  position: relative;
  display: block;
  font-size: 14px;
  color: #B5AFC7;
  padding: 10px 20px;
  border-left: 3px solid transparent;
  border-bottom: 1px solid rgba(181,175,199,.3);
  transition: .3s;
}

.ams-sidebar li a:hover{
  color: #1A53BD;
}

.ams-sidebar li a.active{
  border-left-color: #1A53BD;
  color: #1A53BD;
  background-color: #EBF0FF;
}

.sidebar-menu li a i{
  margin-right: 5px;
}

.sidebar-menu .nav-expand i{
 position: absolute;
 top: 15px;
 right: 20px;
 font-size: 18px;
 transition: .3s;
}

.sidebar-menu li a.active .nav-expand i{
  transform: rotate(90deg);
}

.sidebar-menu .sub-menu{
  position: relative;
  display: none;
  color: #FFFFFF80;
  background-color: #f1f3f6;
}

.sidebar-menu .sub-menu::before{
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 24px;
  background-color: #fff;
}

.sub-menu li a{
  position: relative;
  margin-left: 30px;
  border: none;
}

.sub-menu li a::before{
  position: absolute;
  content: "";
  left: -5px;
  top: 20px;
  width:20px;
  height: 1px;
  background-color:  #fff;

}

.sub-menu li a.active{
  background-color: transparent;
}

.sub-menu ul{
 margin-left: 26px;
}

/* ----- Dashboard Content ----- */

.ams-main-content {
  position: absolute;
  left: 220px;
  width: calc(100% - 220px);
}

.ams-nav-wpr{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
}

.nav-toggle{
  font-size: 20px;
  color: #243E8B;
  cursor: pointer;
}

.main-nav li{
  display: inline-block;
}

.main-nav li a{
  display: block;
  font-size: 16px;
  font-weight: 500;
  color: #243E8B;
  border: 1px solid #243E8B;
  border-radius: 5px;
  padding: 6px 18px;
  margin-right: 5px;
}

.sub-menu li a{
  border-bottom: none;
}

.nav-right{
  display: flex;
  align-items: center;
}

.nav-right .nav-item {
  position: relative;
  margin: 0 8px;
}

.nav-right .nav-item:not(:first-of-type)::before{
  position: absolute;
  content: "";
  top:-45%;
  right: -5px;
  width: 20px;
  height: 20px;
  font-size: 14px;
  font-weight: 500;
  color: #000;
  background-color: #FFC700;
  border-radius: 50%;
  text-align: center;
  line-height: 20px;
}

.nav-right .nav-item:nth-child(3)::before{
  content: "2";
}

.nav-right .nav-item:nth-child(4)::before{
  content: "3";
}

.nav-right .nav-item i{
  font-size: 20px;
  color: #B5AFC7;
}

.ams-admin{
  display: flex;
  align-items: center;
  margin: 0 50px 0 24px;
}

.admin-image{
  position: relative;
}

.ams-admin img{
  border-radius: 50%;
  vertical-align: middle;
  margin-right: 8px;
}

.admin-image i{
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #00C908;
}

.ams-admin .admin-details p{
  font-size: 14px;
  color: #B5AFC7;
  margin-bottom: 0;
  margin-top: 5px;
}

/* ----- Dashboard Boxes ----- */

.ams-main-content-wpr{
  background-color: #f1f3f6;
  padding: 24px;
}

.ams-main-content-wpr .container{
   max-width: 100% !important;
   padding: 0;
}

.single-info-box{
  display: grid;
  grid-template-columns: 75px 1fr;
  grid-column-gap: 30px;
  align-items: center;
  padding: 40px 24px;
  border-radius: 5px;
  margin-bottom: 24px;
}

.single-info-box .info-box-icon{
  height: 75px;
  font-size: 30px;
  background-color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 75px;
}

.info-box-content{
  text-align: left;
  color: #fff;
}

.info-box-content h1{
  font-size: 50px;
}

.single-info-box:nth-child(4n - 3) .info-box-icon{
  color:#243E8B
}

.single-info-box:nth-child(4n - 2) .info-box-icon{
  color:#E54454
}

.single-info-box:nth-child(4n - 1) .info-box-icon{
  color:#F48020
}

.single-info-box:nth-child(4n) .info-box-icon{
  color:#341EC0
}

.single-stat-box{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 24px 18px;
  border-radius: 5px;
  margin-bottom: 24px;
}

.single-stat-box .stat-box-heading,
.single-stat-box .stat-meta-data{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stat-bar{
  position: relative;
  width: 100%;
  height: 7px;
  background-color: #000;
  border-radius: 100px;
  margin-bottom: 8px;
}

.stat-bar .progress-line{
  position: absolute;
  top: 0;
  left: 0;
  width: 70%;
  height: 100%;
  background-color: #fff;
  border-radius: 100px;
}

.stat-meta-data p{
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

/* ----- Dashboard Charts ----- */

.ams-single-chart{
  height: 530px;
  background: #FFFFFF;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  margin-bottom: 24px;
}

/* ----- Supplier List ----- */

.ams-panel-wpr{
  background-color: #fff;
  border-radius: 5px;
  padding: 0 24px;
}

.panel-heading{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px solid #DDDDDD;
}

.panel-title{
  font-size: 18px;
  font-weight: 400;
  color: #243E8B;
}

.panel-item{
  display: inline-block;
  font-size: 16px;
  color: #243E8B;
  padding: 8px 16px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
}

.panel-toolbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.dataTable-length{
  font-size: 16px;
  color: #B5AFC7;
}

.dataTable-length select{
  padding: 6px 10px;
  margin: 0 5px;
  color: #B5AFC7;
  border-color: #DDDDDD;
  outline: none;
}

.dataTable-filter input{
  max-width: 200px;
  height: 35px;
  padding: 12px;
  border:1px solid #DDDDDD
}

.dataTable-filter input::placeholder{
  font-size: 14px;
}

.toolbar-item{
  display: inline-block;
  color: #243E8B;
  background: #fff;
  border: 1px solid rgba(36, 62, 139, 0.5);
  padding: 6px 8px;
  margin-right: -1px;
}

.toolbar-item.active,
.toolbar-item:hover{
  color: #fff;
  background-color: #243E8B;
}

.dataTable th,
.dataTable td{
  padding:10px;
}

.dataTable-info-wpr{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
}

.dataTable-pagination ul a{
  display: inline-block;
  padding: 6px 12px;
  color: #B3B6BE;
  border: 1px solid transparent;
}

.dataTable-pagination a.active{
  color: #fff;
  background-color: #243E8B;
}

.prev{
  border-color: #B3B6BE !important;
  border-radius: 5px 0px 0px 5px;
}

.next{
  border-color:  #B3B6BE !important;
  border-radius: 0 5px 5px 0;
}

/* ----- Add Customer ----- */

.ams-customer-add-form{
  padding: 40px 60px;
}

.ams-customer-add-form .input-group{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}

.ams-input{
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  text-align: right;
  grid-column-gap: 30px;
}

.ams-input input{
  width: 100%;
  height: 50px;
  border: 1px solid rgba(221, 221, 221, 0.8);
  padding: 16px;
  margin-bottom: 14px;
}

.submit-btn{
  color: #fff;
  background-color: #243E8B;
  clear: both;
}

/* Footer */

.footer-btn{
  background-color: #ED4C5C;
  box-shadow: 0px 4px 50px rgba(253, 101, 116, 0.7);
  margin-right: 45px;
}

.copyright a{
  color: #F48020;
}

